@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}

body {
    font-family: "Inter", sans-serif;
    font-size: x-small;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.background-image-container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    backdrop-filter: blur(100px);
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

main header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3em 10em 0 10em;
}

main header .navigations {
    display: flex;
    align-items: center;
    gap: 1em;
}

main header .navigations a {
    color: rgb(0, 0, 0);
    font-size: 1.5em;
}

main header .navigations a:hover {
    font-weight: 600;
    transition: 0.1s;
    border-bottom: 0.2em solid black;
}

main header .labels {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 2em;
    font-weight: 600;
}

main header .labels .name img {
    width: 2.5em;
    height: 2.5em;
}

main header .labels .name {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 1em;
    font-size: 1.5em;
    font-weight: 600;
}

main .content {
    padding: 1em 10em 1em 10em;
}

main .content .home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
    padding: 15em 0 0 0;
}

main .content .home img {
    border-radius: 100em;
    width: 40em;
    height: 40em;
    object-fit: cover;
}

main .content .home h1 {
    font-size: 10em;
}

.about {
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding-top: 2em;
}

.about p {
    width: 100%;
    max-width: 40em;
}

.about img {
    width: 20em;
    height: 20em;
}

.contact {
    display: flex;
    align-items: center;
    font-size: normal;
    justify-content: center;
    gap: 0.2em;
    padding: 13em 0 0 0;

}

.contact .links a,
.contact .links p {
    font-size: 2em;
    display: flex;
    align-items: center;
    color: black;
    gap: 0.5em;
}

.contact img {
    width: 40em;
    height: 40em;
}

.contact .links {
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.contact .links h1 {
    font-weight: bold;
    font-size: 8em;
}

.contact .links img {
    width: 2em;
    height: 2em;
    gap: 3em;
}

.projects h1 {
    text-align: center;
    font-weight: bold;
    font-size: 6em;
    margin-top: 8%;
}

.certs h1 {
    text-align: center;
    font-weight: bold;
    font-size: 6em;
    margin-top: .5em !important;
}


.projects,
.certs,
.uniic {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: normal;
    justify-content: center;
    gap: 5em;
    padding: 10em 0 5 0;
}

.proj1 p {
    margin-top: -2em;
    text-align: center;
    font-weight: normal;
    font-size: 2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.certs p {
    margin-top: -2em;
    text-align: center;
    font-weight: normal;
    font-size: 2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: -3%;
}

.projects-img,
.certs-img,
.uniic {
    display: grid;
    gap: 1em;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    margin: 3em auto;
    align-items: center;
    justify-items: center;
}

.projects-img img,
.certs-img img,
.uniic img {
    width: 90%;
    border-radius: 3em;
}

.pic,
.cert3,
.pic2 {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1em;
}

.pic img,
.cert3 img,
.pic2 img {
    width: 50%;
}

/* Additional consistency adjustments if necessary */
.projects h1 {
    margin-top: 1em;
}

.certs h1 {
    margin-top: 3em;
}

.uniic {
    width: 80%;
    margin-top: -5em;
    /* Adjusted to keep full width */
}