{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="about">
        <img src="{% static "images/abt2.png" %}" alt="profile" class="img2">
        <div>
        <h1>About me</h1>
        <p>
        Aspiring Frontend Developer with a passion for creating visually appealing and user-friendly web applications.
        Skilled in responsive design principles and ensuring optimal performance across various devices. 
        Strong problem-solving skills and a keen eye for detail, committed to staying current with industry trends and best practices. 
        Eager to contribute to innovative projects and enhance user experiences.
        </p>
        </div>

        
    </div>
{% endblock content %}
