{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="contact">
        <img src="{% static "images/contact.png" %}" alt="profile" class="cimg">
        <div class="links">
            <h1>Contacts</h1>
                        <p><img src="{% static "images/gm.svg" %}" alt="profile" class="profile">
            202180210@psu.palawan.edu.ph</p>
            <a href="https://www.facebook.com/aira.suranol/" target="_blank">       
                 <img src="{% static "images/fb.svg" %}" alt="profile" class="profile">
                 Facebook</a>
            <a href="https://www.instagram.com/helloo.suuu/" target="_blank">
                <img src="{% static "images/ig.svg" %}" alt="profile" class="profile">
                Instagram</a>
        </div>
    </div>
{% endblock content %}