{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="projects">
          <h1>Projects</h1>
          <div class="proj1">
            <p>UI/UX design using Figma <br><strong> Champion</p>
            <div class="projects-img">
            <img src="{% static "images/proj.png" %}" alt="profile" class="proj">
            <img src="{% static "images/proj2.png" %}" alt="profile" class="proj2">
            <div class="pic">
            <img src="{% static "images/uiux.png" %}" alt="profile" class="picc">
            </div>
            </div>
    </div>
     <div class="certs">
            <h1>Achievements and Certificates</h1>
            <p>UNIIC Ideathon 2024 <br> <strong>Champion</strong></p>
            <div class="certs-img">
            <img src="{% static "images/cert1.png" %}" alt="profile" class="cert1">
            <img src="{% static "images/cert2.png" %}" alt="profile" class="cert2">
            <div class="cert3">
            <img src="{% static "images/cert3.png" %}" alt="profile" class="cert3">
            </div>
            </div>
        <div class="uniic">
            <img src="{% static "images/uniic.png" %}" alt="profile" class="pic1">
            <img src="{% static "images/uniic3.png" %}" alt="profile" class="pic1">
            <div class="pic2">
            <img src="{% static "images/uniic2.png" %}" alt="profile" class="pic1">
            </div>
        </div>
    </div>
{% endblock content %}